/* API_KEY : 1f6091b9694f5fd0faad141515ed0f90 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap');
*{
    background-color:black;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
}
#logo{
    width: 80px;
    padding-left:100px;
    padding-top: 25px;    
}
#headsearch{   
    width: 700px;
    font-size: 17px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
} 
#submit{
    float: right;
    padding: 10px;
    padding-top: 10px;
    color: white;
    background-color: black;
    font-size: 17px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;    
}
#searchbar{
    display: flex;    
    padding-top: 25px;
    padding-left: 100px;
}
#signin{
    color: white;
    padding-left: 250%;    
    padding-top: 15px;
    display: inline-flex;
}
.headcontent{
    color: white !important;
    margin-left: 10%;
    padding-top: 15px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.mySlides {display: none}
img {vertical-align: middle;}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
  }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@media only screen and (max-width:800px){
    .header{
        display: flex;
        flex-direction: row;
    }
    #logo{
        width: 60px;
        padding-left:20px;
        padding-top: 10px;    
    }
    #headsearch{   
        width: 120px;
        font-size: 15px;
        border: 1px solid black;
        background-color: white;
        padding: 10px;
    } 
    #searchbar{
        display: flex;        
        padding-top: 30px;
        padding-left: 60px;
    }
    .headcontent{
        display: none;
    }
    #signin{
        color: white;
        padding-left: 150%;
        
        padding-top: 15px;
        display: inline-flex;
    }
    
}
section{
    display: flex;
    width: 100%;
    overflow-x: auto;
}
section img{
    width: 300px;
    transition: 250ms all;
}
#searchimage:hover{
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}
.movie-searchable{
    margin-top: 20px;
    color: white;
}
.content{
    border: 2px solid red;    
    display: none;
}
.content div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}
.content-display{
    display: block;
}
.topratedmovie{
    color: white;
    padding-left: 50px;
}
.toprated-topic{
    color: white;
}
.toprated-content{
    display: flex;
    flex-direction: column;
}
#toprated{
    color: white;
}
#topratedp{
    color: white;
}
#toprate{
    width: 220px;
    height: 220px;
    cursor: pointer;
    justify-content: space-between !important;
    padding-right: 10px;
}
#topratedtitle{
    font-size: large;
    background-color: #313131;
}
#topratedrelease{
    font-size: medium;
    padding: -30px;
    background-color: #313131;
}
#topratedfetch i{
    background-color: #313131;
}
#toprated-content{
    display: flex;
    flex-direction: column;
}
#topratedfetch{
    display: block;
    background-color:#313131; 
}
.upcomingmovie-topic {
    color: white;
}
.upcomingmovies{
    color: white;
    padding-left: 50px;
}
#upcomeimg{
    width: 220px;
    height: 220px;
    cursor: pointer;
    justify-content: space-between !important;
    padding-right: 10px;
}
#upcomefetch{
    display: block;
    background-color:#313131; 
}
#upcometitle{
    background-color: #313131;
}
#upcomerelease{
    background-color: #313131;
}
#upcomefetch i{
    background-color: #313131;
}
#nowplay{
    color: white;
    padding-left: 50px;
}
#nowplayimg{
    width: 220px;
    height: 220px;
    cursor: pointer;
    justify-content: space-around !important;
}
#nowplayfetch{
    display: block;
    background-color:#313131;    
}
#nowplayfetch i{
    background-color: #313131;
    cursor: pointer;
}
#nowplaytitle{
    background-color: #313131;
}
#nowplayrelease{
    background-color: #313131;
}

#watchlistbtn{
    color: #7EC0EE;
    justify-content: center;
    align-items: center;
    background-color:black;
    font-size: medium;
    position: relative;
    cursor: pointer;
}
.popularmovie{
    color: white;
    padding-left: 50px;
}
.popular-topic{
    color: white;
}
#popularimg{
    width: 220px;
    height: 220px;
    cursor: pointer;
    justify-content: space-between !important;
    padding-right: 10px;
}
#popularfetch{
    background-color: #313131;
}
#popularfetch i{
    background-color: #313131;
}
#populartitle{
    background-color: #313131;
}
#popularrelease{
    background-color: #313131;
}
.footer{
    color: white;
    align-items: center;
    justify-content: center;
}
.footer-row1{
    padding-left: 45%;
    justify-content: center;
    align-items: center;
}
.footer-row1 i{
    font-size: 25px;
    width: 50px;
}
.footer-row2{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}
.footer-row2 a{
    text-decoration: none;
    color: white;
}
.footer-row2 ul a:hover{
    text-decoration: white;
    
}
.footer-row3{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    color: white;
}
.footer-row3 a{
    text-decoration: none;
    color: white;
}
.footer-row4 p{
    margin-left: 45%;
}
.footer-row5{
    color: white;
    margin-left: 42%;
}