html,body{
    width: 100%;
    height: 100%;
    margin: 0%;
}
.top a{
    text-decoration: none;
    color: white;   
}
.top{
    text-align: center;
    font-size:large;
    background-color: blue;
    color: white;
    padding: 01px;
}

.header{
    display: flex;
    background-color: black;
    padding: 20px;
    
    
}
#head1cont{
    font-size: 35px;
}
.title a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    padding-left: 60px;
}
.content{
    padding-left: 150px;
    padding-top: 20px;
}
#options{
    background-color: black;
    border: none;
    color: white;   
}
#experiments{
    text-decoration: none;
    color: white;
    padding: 10px;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    color: white;
    display: none;
    width: 26px;
    float: left;
    
}
#toggle{
    display: none;
}
.nav{
    border-bottom: 1px solid ;
    text-align: right;
    height: 70px;
    
    
}
.site-nav{
    display: none;
}
#navitem{
    color: black;
    text-decoration: none;
    margin: 0 10px;
    
}

@media screen and (max-width:1000px) {
    .content{
        display: none;
    }
    label{
        color: white;
        display: block;
        cursor: pointer;
        float: left;
        margin: 0 40px 0 0;
        font-size: 26px;
        color: white;
    }
    
    .site-nav {
        text-align: center;
        text-decoration-style: none;
        color: white;
        width: 100%;     
        display: none;   
    }
    #navitem{
        display: block;
        color: white;
        text-decoration:none;
        margin: 0 10px;
        
        
    }
    #toggle:checked + .site-nav{
        display: block;
    }
    
    
}

            /*Head1*/

.head1{
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 40px;
    font-size: 20px;
}

        /*Body1*/

.body1{
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 40px;
    
    
}
.body1 h4{
    font-size: 16px;
}
.bodycontent{
    display: grid;
    grid-template-columns: repeat(auto-fill,30rem);
    grid-column-gap: 20px;
    justify-content: center;
    
    
}
.bc1 img{
    width: 400px;
    height: 250px;
}
.bc2 img{
    width: 400px;
    height: 250px;
}

        /*Body 2*/

.body2{
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 40px;
}

.body2-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    grid-column-gap: 20px;
    justify-content: center;
    font-size: 18px;

}
.body2-content a{    
    color: black;  
}

.b2one button:hover{
    background-color: #008CBA;
}
.b2two img{
    width: 100%;

}

        /*Body3*/

.body3{
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 40px;
}
.body3 h4{
    font-size: 16px;
}
.body3content{
    display: grid;
    grid-template-columns: repeat(auto-fit,15rem);
    grid-column-gap: 150px;
    justify-content: center;
   
}
.b31 img{
    width: 350px;
    height: 250px;
}
.b32 img{
    width:350px;
    height: 250px;
}
.b33 img{
    width: 350px;
    height: 250px;
}
        /*Body 4*/
.body4{
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 40px;

}
.body4 h4{
    font-size: 16px;
}
.body4content{
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    grid-column-gap: 90px;
    grid-row-gap: 30px;
    justify-content: center;

}
.body4content img{
    width: 350px;
    height: 250px;
}
#p1{
    color: #696969	;
}

        /*Footer*/

.footer{
    display: flex;
    background-color: black;
    justify-content: center;
    font-size: 18px;
}
.footer1{
    color: #696969;
    justify-self:left;
    
    
}
.footer2 a{
    text-decoration: none;
    color:#696969;
    padding: 01px;
    
}
